$background-grey: #35363A;
$primary-blue: #4E8FDB;
$cancel-red: #E5766F;
$disabled-grey: #C4C4C4;
$text-input-border-grey: #8D8D8D;
$text-input-border-red: #DA1E28;
$success-green: #68CC58;
$logs-info: #6E8FE4;
$logs-success: #60B244;
$logs-error: #E5766F;