@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css);

* {
    font-family: 'Fira Code', monospace;
    letter-spacing: 0.01rem;
}

p {
    margin: 0px;
}

.spin {
    animation: rotating 1s ease-in-out infinite;
}

@keyframes rotating {
    to {
        transform: rotate(0deg);
    }
    from {
        transform: rotate(360deg);
    }
}
